/*GENERAL*/

:root {
    --color-one: black;
    --color-two: white;
    --color-three: silver;
    --color-four: gray;
    --color-five: rgb(105, 209, 45);


}

*,
*:before,
*:after {

    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 0 !important;
    background-color: transparent !Important;
    display: none !Important;
}

select,
option {
    border: 0 none;
    outline: 1px none;
}


html,
body {

    font-weight: 100;
    width: 100%;
    max-width: 100vw;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 1.0rem;
    line-height: 1.4rem;
    -webkit-appearance: none;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}



h1 {
    font-size: 1rem;
    font-weight: bold;
}


h2 {
    font-size: 1.0rem;
}


.debug {
    border: 1px solid red;
}


div#wrapper {
    background: silver;
    min-height: 80%;
    max-height: 80%;
    min-width: 100%;
    position: relative;
    background: var(--color-two);

}

form {
    padding: 5px;
    background: var(--color-three);

}

form input {
    padding: 5px;
    background: var(--color-two);
    width: 90%;

}

div#box {
    height: 90vh;
}

div#box ul {
    padding: 5px;
}

div#box ul li {
    padding: 5px;
    margin: 0 0 5px 0;
    background: var(--color-three);
}

div#box ul li:focus {
    padding: 5px;
    background: var(--color-two);
}


div#content-box {
    height: 100vh;
    width: 100%;
    background: var(--color-four);
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;

}

div#content-box ul li {
    padding: 5px;
    margin: 0 0 5px 0;
    background: var(--color-three);

}

div#content-box ul li:focus {
    padding: 5px;
    margin: 0 0 5px 0;
    background: var(--color-five);

}




/*///////////////////////////
///HELPER////////////////*/

div#toast {
    position: fixed;
    height: auto;
    overflow: none;
    top: -100px;
    background: black;
    color: white;
    z-index: 5000;
    min-width: 100%;
    padding: 5px;
    display: none;
}

/*/////////////////
///BOTTOM BAR////
////////////////*/

div#bottom-bar {
    position: fixed;
    z-index: 2000;
    bottom: 10px;
    left: 0px;
    height: 18px;
    z-index: 5000;
    background: black;
    min-width: 100vw;
}

div#bottom-bar div#inner {
    position: relative;
}

div#bottom-bar div {
    background: black;
    color: white;
    padding: 2px;
}

div#bottom-bar div#button-center {
    background: black;
    color: white;
    padding: 2px;
    width: 30%;
    text-align: center;
}

div#bottom-bar div#button-left {
    background: black;
    color: white;
    padding: 2px;
    width: 20px;
    text-align: left;
    width: 30%;
}

div#bottom-bar div#button-right {
    background: black;
    color: white;
    padding: 2px;
    width: 30%;
    text-align: right;
}


input#search {
    background: white;
    padding: 3px;
    margin: 2px 0 0 0;
    width: 95vw;
    font-size: 1.2rem;
}