/*GENERAL*/

:root {
    --color-one: black;
    --color-two: white;
    --color-three: silver;

}

*,
*:before,
*:after {

    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 0 !important;
    background-color: transparent !Important;
    display: none !Important;
}


html,
body {

    font-weight: 100;
    width: 100%;
    max-width: 100vw;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 1.0rem;
    line-height: 1.4rem;
    -webkit-appearance: none;
    height: 100vh;
    margin: 0;
}



h1 {
    font-size: 1rem;
    font-weight: bold;
}


h2 {
    font-size: 1.0rem;
}


.debug {
    border: 1px solid red;
}


div#wrapper {
    background: silver;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    background: var(--color-two);

}

form {
    padding: 5px;
    background: var(--color-two);

}

div#box {
    padding: 5px;
}

div#box div {
    padding: 5px;
    background: var(--color-three);
}

div#box div:focus {
    padding: 5px;
    background: var(--color-two);
}




/*///////////////////////////
///TOAST////////////////*/

div#toast {
    position: fixed;
    height: auto;
    overflow: none;
    top: -100px;
    background: black;
    color: white;
    z-index: 10;
    min-width: 100%;
    padding: 5px;

}


input#search {
    background: white;
    padding: 3px;
    margin: 5px 0 0 0;
    width: 80vw;
    font-size: 1.2rem;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}